<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>gr_tgc_catalog</name>
	<displayName><![CDATA[TGC Catalog]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Add the products required to sell TGC articles]]></description>
	<author><![CDATA[Garrpe]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
